body{
    background-color: #efdfe8;
}

#homeNav{
    display: none;
}

.container-custom{
    width: 100%;
}

.row-custom{
    margin: 0;
}

#landing{
    background-image: url("../images/austin-neill-uHD0uyp79Dg-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.odd{
    color: white;
    background-color: #304a94;
}